.mobile-menu-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 12;
  padding: clamp(0px, 3.25rem, 34px) clamp(0px, 2rem, 20px) clamp(0px, 2rem, 20px) clamp(0px, 2rem, 20px);
  justify-content: center;

  .mobile-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: clamp(0px, 4.5rem, 50px);
    width: 100%;
    max-width: 33rem;

    .logo-overlay {
      color: white;
      font-family: "Bebas Neue", sans-serif;
      font-size: 1.5rem;
    }

    .hero {
      font-size: var(--text-size-large-2);
      color: var(--text-light);
      font-style: italic;
    }

    .body {
      display: flex;

      .socials-links {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        width: 45%;

        .social {
          display: flex;
          align-items: center;
          gap: 0.15rem;
          font-size: var(--text-size-large);
          color: var(--text-selectable);
          text-decoration: none;

          .arrow {
            height: 1.25rem;
            width: 1.25rem;
            color: var(--text-selectable);
            transform: rotate(45deg);
          }
        }
      }

      .route-links {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        a {
          font-size: clamp(0rem, 8vw, 3rem);
          text-decoration: none;
          color: var(--text-selectable);
          font-weight: 500;
          transition: color 0.2s, font-weight 0.2s;
        }
        a.active {
          color: white;
          font-weight: 700;
        }

        button {
          margin-top: 1.5rem;
        }
      }
    }
  }
}
