.contact-section-wrapper {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .contact-section-wrapper {
    flex-direction: column;
    gap: 0.5rem;
    padding: 4rem 0;

    img {
      width: 100%;
      max-height: 25rem;
      object-fit: cover;
      border-radius: var(--border-radius-2);
    }

    .schedule-wrapper {
      position: relative;
      background-color: #2f2f2f;
      height: 26rem;
      border-radius: var(--border-radius-2);
      padding: 1rem 1rem 4rem 1rem;
      display: flex;
      align-items: flex-end;

      .tag {
        position: absolute;
        top: 1rem;
        left: 1rem;
        border-radius: var(--border-radius-rounded);
        background-color: #3a3939;
        border: 1px solid #7c7c7c;
        color: #e2e2e2;
        width: fit-content;
        padding: 0.4rem 0.75rem;
        font-size: var(--text-size-tiny);
      }

      .schedule-info-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h3 {
          color: white;
        }

        p {
          color: #bfbfbf;
          font-size: var(--text-size-tiny-2);
          line-height: 1.1rem;
        }
      }
    }
  }
}
