.about-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  padding: 12rem 3rem;
  width: 100%;
  max-width: 80rem;

  .about-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    z-index: 1;

    .about-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      h2 {
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .stat-section {
        display: flex;
        gap: 2rem;

        .stat-wrapper {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;

          .stat {
            font-family: "Bebas Neue", sans-serif;
            font-size: 2.25rem;
          }

          .label {
            font-family: "Libre Franklin", sans-serif;
            font-family: 300;
            font-size: var(--text-size-small-2);
          }
        }
      }

      p {
        max-width: 28rem;
        font-weight: 300;
        margin: 0;
      }
    }
  }

  .baseball-accent {
    position: absolute;
    bottom: -15rem;
    right: -8rem;
    height: 35rem;
    width: 35rem;
    z-index: 0;
  }
}

@media only screen and (max-width: 768px) {
  .about-section {
    height: unset;
    gap: 3rem;
    padding: 10rem 1rem;

    .about-wrapper {
      height: fit-content;
      justify-content: flex-start;
      gap: 6vw;
      padding: 0rem;

      .about-header {
        h2 {
          font-size: 6.5vw;
          line-height: 7.1vw;
        }

        a {
          display: none;
        }
      }

      .footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 6vw;

        .stat-section {
          .stat-wrapper {
            .stat {
              font-size: 6vw;
              list-style-type: 8vw;
            }

            .label {
            }
          }
        }

        p {
          max-width: unset;
          font-size: 2.75vw;
          line-height: 5vw;
        }
      }
    }

    .baseball-accent {
      bottom: -16rem;
      right: -7rem;
      height: 25rem;
      width: 25rem;
      transform: rotate(47deg);
    }
  }
}
