#action-header {
  .hero-header {
    position: absolute;
    left: 2.65rem;
    bottom: 1rem;
    width: fit-content;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  #action-header {
    .hero-header {
      left: 1rem;

      h1 {
      }
    }
  }
}
