.trainers-wrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  background-color: white;
  border-radius: var(--border-radius-0);
  padding: 4rem 3rem;
  overflow: hidden;
  height: 90vh;
  max-height: 40rem;
  z-index: 10;
  width: 100%;
  max-width: 85rem;

  .trainer-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    flex-shrink: 0;
    height: 100%;

    .trainer-name {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      span {
        font-size: 0.8rem;
      }
    }

    .trainer-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      p {
        line-height: 1.2rem;
        font-size: var(--text-size-tiny-2);
        margin: 0;
        text-align: justify;
      }

      .trainer-index-wrapper {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        margin-top: 0.5rem;
      }
    }
  }

  .trainer-image-wrapper {
    position: relative;
    width: 39%;
    height: 100%;
    border-radius: var(--border-radius-0);
    overflow: hidden;

    .trainer-primary {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .trainer-actions {
    width: 26%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .trainer-secondary {
      height: 15rem;
      width: 100%;
      object-fit: cover;
      border-radius: var(--border-radius-0);
    }
  }

  .actions {
    display: flex;
    gap: 0.5rem;

    button {
      border-radius: var(--border-radius-rounded);
      border: 1px solid #e0e0e0;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.25rem;
      width: 2.25rem;
      cursor: pointer;

      #prev-trainer {
        height: 1rem;
        width: 1rem;
        transform: rotate(-90deg);
        color: white;
      }

      #next-trainer {
        height: 1rem;
        width: 1rem;
        transform: rotate(90deg);
        color: white;
      }
    }

    &.overlay {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      justify-content: space-between;
      padding: 0 0.5rem;
      display: none;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .trainers-wrapper {
    gap: 4rem;

    .trainer-info-wrapper {
      width: calc(50% - 2rem);
    }

    .trainer-image-wrapper {
      width: calc(50% - 2rem);
    }

    .trainer-actions {
      display: none;
    }

    .actions {
      &.overlay {
        display: flex;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .trainers-wrapper {
    align-items: flex-start;
    height: fit-content;
    padding: 4rem 1rem;

    .trainer-info-wrapper {
      height: fit-content;
      gap: 42rem;
      width: 100%;

      .trainer-name {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        span {
          font-size: 4vw;
        }

        h2 {
          font-size: 10vw;
          line-height: 11vw;
        }
      }

      .trainer-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        p {
          font-size: 4vw;
          line-height: 7vw;
        }

        .trainer-index-wrapper {
          display: flex;
          align-items: center;
          gap: 0.25rem;
        }
      }
    }

    .trainer-primary {
      position: absolute;
      width: calc(100% - 2rem);
      left: 1rem;
      top: 13rem;
      height: 35rem;
    }

    .trainer-actions {
      z-index: 15;
      position: absolute;
      top: 30.5rem;
      transform: translateY(-50%);
      width: calc(100% - 4rem);
      left: 2rem;

      .actions {
        width: 100%;
        justify-content: space-between;

        button {
          border: none;
          background-color: black;
          height: 12vw;
          width: 12vw;

          #prev-trainer {
            transform: rotate(-90deg);
            color: white;
            height: 5vw;
            width: 5vw;
          }

          #next-trainer {
            transform: rotate(90deg);
            color: white;
            height: 5vw;
            width: 5vw;
          }

          &:hover {
            background-color: #3c3c3c;
          }
        }
      }

      .trainer-secondary {
        display: none;
      }
    }
  }
}
