.testimonies-section-mobile-wrapper {
  position: relative;
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.statement {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem;

  h2 {
    font-size: var(--text-size-extra-large-2);
    line-height: unset;
  }

  p {
    font-size: var(--text-size-small-2);
    margin: 0;
  }
}

.horizontal-scroll-list {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem 25rem 1rem 1rem;

  .review-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--border-radius-1);
    background-color: white;
    border: 1px solid #dddddd;
    padding: 1.5rem;
    min-width: 22rem;
    height: 30rem;

    .review-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .reviewer {
        border-radius: var(--border-radius-rounded);
        border: 1px solid #b9b9b9;
        padding: 0.75rem 1.5rem;
        font-size: 0.9rem;
        height: fit-content;
      }

      img {
        height: 3rem;
        width: 3rem;
        object-fit: cover;
        border-radius: var(--border-radius-rounded);
      }
    }

    .review-footer {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .review {
        display: flex;
        flex-direction: column;

        p {
          font-size: 0.8rem;
          font-weight: 400;
        }
      }

      span {
        font-size: 0.7rem;
        font-weight: 600;
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.trainer-actions {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-between;
  padding: 0 1rem;

  .actions {
    display: flex;
    gap: 0.25rem;

    button {
      border-radius: var(--border-radius-rounded);
      border: 1px solid #e0e0e0;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.75rem;
      width: 2.75rem;
      cursor: pointer;

      #prev-trainer {
        height: 1.25rem;
        width: 1.25rem;
        transform: rotate(-90deg);
        color: white;
      }

      #next-trainer {
        height: 1.25rem;
        width: 1.25rem;
        transform: rotate(90deg);
        color: white;
      }
    }

    .inactive {
      border: none;
      background-color: #e7e7e7;
      cursor: default;

      #prev-trainer {
        color: #a0a0a0;
      }

      #next-trainer {
        color: #a0a0a0;
      }
    }
  }
}
